name: Trigger auto deployment for poc-ause-lp-ca-mymcpserver-01

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ integrate-to-copilot ]
    paths:
    - '**'
    - '.github/workflows/poc-ause-lp-ca-mymcpserver-01-AutoDeployTrigger-2fd69420-e7dc-4f43-868f-3609b9f2d17b.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.POCAUSELPCAMYMCPSERVER01_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.POCAUSELPCAMYMCPSERVER01_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.POCAUSELPCAMYMCPSERVER01_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.POCAUSELPCAMYMCPSERVER01_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.POCAUSELPCAMYMCPSERVER01_REGISTRY_PASSWORD }}
          containerAppName: poc-ause-lp-ca-mymcpserver-01
          resourceGroup: Yi
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


