name: Build and Test

on:
  merge_group:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: Install system dependencies
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y libsecret-1-dev

      - name: Install dependencies
        shell: bash
        run: npm ci

      - name: ESLint
        shell: bash
        run: npm run lint

      - name: Build
        shell: bash
        run: npm run build

      - name: Tests Unit
        shell: bash
        run: npm test
